.container{
    width: 50%;
    height: 275px;
    border: 1px solid black;
    display: flex;
}


.left-box{
    width: 25%;
    height: 100%;
    background-color: black;
    clip-path: polygon(15.5% 16%, 66.25% 16%, 33.5% 76.23%, 18.73% 76.23%);

}

.right-box{
    width: 75%;
    height: 100%;
}