.parent{

    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 300px;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content: space-evenly; */
    /* justify-content: space end; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    align-items: center;


  

}

.child{
    width: 20%;
    height: 200px;
    background-color: green;
    color: white;
    border: 1px solid black;

}