.container{
    width: 50%;
    min-height: 300px;
    border: 1xp solid rgb(0, 255, 68);
    border-radius: 5px;
    display: flex;
}
.image-container{
    width: 50%;
    border: 1px solid rgb(235, 25, 25);
    border-radius: 5px;
}
.card{
    width: 50%;
    display: flex;
    align-items: center;
    
}
.image-container>img{
    width: 100%;
    align-items: center;
}
