.container{
    width: 50%;
    height: 400px;
    background-color: aqua;
    border: 2px solid black;
    position: absolute;
    margin-left: 400px;
    margin-top: 150px;
}
.item{
    width: 25%;
    height: 100px;
    background-color: azure;
    border: 1px solid black;

}
.leftbox{
position: absolute;
left: 100%;
top: 30%;
}
.rightbox{
    position: absolute;
    right: 100%;
    top: 30%;

}

.topbox{
    position: absolute;
    bottom: 100%;
    left: 30%;
}
.bottombox{
    position: absolute;
    top: 100%;
    left: 30%;
}
.fixed{
    width: 200px;
    height: 200px;
    background-color:rgb(202, 16, 25);
    border: 2px solid black;
    position: fixed;
    left: 0;
    top: 0;
}
.sticky{
    width: 85%;
    height: 100px;
    background-color: blueviolet;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
}